<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Test Console
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container right-panel-active">
        <div class="container__form container--signup">
            <h2>A+B Problem</h2>
            <form class="form" action="/calc" name="test" id="test" method="post">
                第一个数字 <input type="text" name="a" id="a" required="required"><br>
                第二个数字 <input type="text" name="b" id="b" required="required"><br>
                <button type="submit" class="btn btn-default">
                    提交
                </button>
                <button type="reset" class="btn btn-default">
                    重置
                </button>
            </form>
        </div>
    </div>
</body>
</html>